<%= render 'layouts/shared/page_title', title: t(:welcome), pretitle: t(:authentication) , page_title_actions: session_buttons.html_safe %>

<div class="page-body">
  <div class="container-xl">
    <% if logged_in? %>
      <div class="alert alert-success" role="alert">
        Sessão iniciada como: <%= current_user.username %>
      </div>
    <% else %>
      <div class="alert alert-danger" role="alert">
        Por favor <a href="<%= login_path %>" class="alert-link">inicie sessão</a> para prosseguir
      </div>
    <% end %>
  </div>
</div>
