<aside class="navbar navbar-vertical navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <h1 class="navbar-brand navbar-brand-autodark">
      <%= link_to root_path, class: 'nav-link' do %>
        <span class="navbar-brand-image">
          <i class="fas fa-cash-register mr-2"></i>Gestão de Faturação <small class="text-muted">beta</small>
        </span>
      <% end %>
    </h1>
    <div class="collapse navbar-collapse" id="navbar-menu">
      <%= render 'layouts/shared/navbar/navlinks' %>
    </div>
  </div>
</aside>
