<% if logged_in? %>
  <li class="nav-item dropdown mb-4">
    <a class="nav-link dropdown-toggle" href="#navbar-base" data-bs-toggle="dropdown" role="button" aria-expanded="false">
      <span class="avatar avatar-sm"></span>
      <div class="d-none d-xl-block ps-2">
        <div><%= current_user.username %></div>
        <% if current_user.admin? %>
          <div class="mt-1 small text-muted"><%= User.human_attribute_name(:admin) %></div>
        <% end %>
      </div>
    </a>
    <div class="dropdown-menu">
      <div class="dropdown-menu-columns">
        <div class="dropdown-menu-column">
          <div class="dropdown-divider"></div>
          <%= link_to t(:log_out), logout_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </div>
    </div>
  </li>
<% end %>
